html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
p, ul, ol, dl, button, textarea, th {
  font-family: inherit;
}
th {
  font-weight: normal;
  text-align: left;
}
th, td {
  padding: 0.25rem;
  padding-right: 1rem;
}
body {
  background-color: #DDD;
  font-size: 1rem;
  margin:auto;
  position:relative;
}
#outer-column {
  width:50rem;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}
#inner-column {
  width:50rem;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}
#page {
  background-color: #FFF;
  box-shadow: 0 0 1rem #666;
  padding:2rem;
}
.v-spacer {
  height:2rem;
  width:100%;
}
.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#editor {
  width:100%;
  min-height: 5rem;
  height: 30rem;
}
button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
}
#cmdBtns {
  float: right;
  position: absolute;
  margin-top: 0.2rem;
  right: 2.2rem;
  z-index: 100;
  width: 5rem;
}
#cmdBtns button {
  display: block;
  float:right;
  margin: 2px;
}
#canvas {
  border-style: solid;
  border-width: 1px;
  border-color: #EEE;
}